---
import Navbar from '../../components/Navbar.jsx'
import '../../styles/global.css'

---

<html>
<body>
    <div class="header-container">
        <Navbar type="flat" client:load />
    </div>
    f
</body>
</html>
