---
import '../styles/global.css'
import '../styles/home.css'
import { Image } from 'astro:assets';
import johnsCreekHighSchoolScaled from '../images/Johns_Creek_High_School-scaled.jpeg'
---

<html>
<body>
    <Image src={johnsCreekHighSchoolScaled} alt="Johns Creek High School" class="home-hero"/>
    <div class="seperator"></div>
</body>
</html>